<dialog
  id="dating_register_page"
  class="dialog project-dialog-image"
  aria-label="Dating app register page">
    <picture class="projects__picture">
      <source srcset="img/dating-register_panel.webp" type="image/webp">
      <img loading="lazy" src="img/dating-register_panel.png" class="image" width="1024" height="768" alt="Dating app register page">
    </picture>
    <button class="btn btn-reset dialog__close" type="button">Close image</button>
</dialog>

<!--
<dialog
  id="dating_user_settings"
  class="dialog project-dialog-image"
  aria-label="Dating app user settings screen">
    <picture class="projects__picture">
      <source srcset="img/dating-user_settings.webp" type="image/webp">
      <img loading="lazy" src="img/dating-user_settings.png" class="image" width="1024" height="768" alt="Dating app user settings screen">
    </picture>
    <button class="btn btn-reset dialog__close" type="button">Close image</button>
</dialog> -->


<dialog
  id="dating_user_subscription"
  class="dialog project-dialog-image"
  aria-label="Dating app user subscription screen">
    <picture class="projects__picture">
      <source srcset="img/dating-profile.webp" type="image/webp">
      <img loading="lazy" src="img/dating-profile.png" class="image" width="1024" height="768" alt="Dating app user subscription screen">
    </picture>
    <button class="btn btn-reset dialog__close" type="button">Close image</button>
</dialog>


<dialog
  id="dating_user_preferences"
  class="dialog project-dialog-image"
  aria-label="Dating app user preferences screen">
    <picture class="projects__picture">
      <source srcset="img/dating-profile_view.webp" type="image/webp">
      <img loading="lazy" src="img/dating-profile_view.png" class="image" width="1024" height="768" alt="Dating app user preferences screen">
    </picture>
    <button class="btn btn-reset dialog__close" type="button">Close image</button>
</dialog>

<dialog
  id="dating_select_view"
  class="dialog project-dialog-image"
  aria-label="Dating app select page">
    <picture class="projects__picture">
      <source srcset="img/dating-select_view.webp" type="image/webp">
      <img loading="lazy" src="img/dating-select_view.png" class="image" width="1024" height="768" alt="Dating app select page">
    </picture>
    <button class="btn btn-reset dialog__close" type="button">Close image</button>
</dialog>


<dialog
  id="dating_chat_view"
  class="dialog project-dialog-image"
  aria-label="Dating app chat page">
    <picture class="projects__picture">
      <source srcset="img/dating-chat_view.webp" type="image/webp">
      <img loading="lazy" src="img/dating-chat_view.png" class="image" width="1024" height="768" alt="Dating app chat page">
    </picture>
    <button class="btn btn-reset dialog__close" type="button">Close image</button>
</dialog>
