<dialog id="robotoHeroScreen" class="dialog project-dialog-image" aria-label="Roboto site hero section">
  <picture class="projects__picture">
    <source srcset="img/roboto-hero.webp" type="image/webp">
    <img loading="lazy" src="img/roboto-hero.jpg" class="image" width="1024" height="768" alt="School site hero section">
  </picture>
  <button class="btn btn-reset dialog__close" type="button">Close image</button>
</dialog>

<dialog id="robotoBurger" class="dialog project-dialog-image" aria-label="Roboto site burger menu">
  <picture class="projects__picture">
    <source srcset="img/roboto-burger.webp" type="image/webp">
    <img loading="lazy" src="img/roboto-burger.jpg" class="image" width="500" height="700" alt="School site burger menu">
  </picture>
  <button class="btn btn-reset dialog__close" type="button">Close image</button>
</dialog>

<dialog id="robotoMobileMenu" class="dialog project-dialog-image" aria-label="Roboto site mobile menu">
  <picture class="projects__picture">
    <source srcset="img/roboto-mobile.webp" type="image/webp">
    <img loading="lazy" src="img/roboto-mobile.jpg" class="image" width="500" height="700" alt="School site mobile menu">
  </picture>
  <button class="btn btn-reset dialog__close" type="button">Close image</button>
</dialog>

<dialog id="robotoSwiper" class="dialog project-dialog-image" aria-label="Roboto site swiper">
  <picture>
    <source srcset="img/roboto-swiper.webp" type="image/webp">
    <img loading="lazy" src="img/roboto-swiper.jpg" class="image" width="1259" height="832" alt="Roboto site swiper">
  </picture>
  <button class="btn btn-reset dialog__close" type="button">Close image</button>
</dialog>

<dialog id="robotoPopup" class="dialog project-dialog-image" aria-label="Roboto site popup">
  <picture>
    <source srcset="img/roboto-popup.webp" type="image/webp">
    <img loading="lazy" src="img/roboto-popup.jpg" class="image" width="587" height="376" alt="Roboto site popup">
  </picture>
  <button class="btn btn-reset dialog__close" type="button">Close image</button>
</dialog>

<dialog id="robotoModal" class="dialog project-dialog-image" aria-label="Roboto site modal">
  <picture>
    <source srcset="img/roboto-modal.webp" type="image/webp">
    <img loading="lazy" src="img/roboto-modal.jpg" class="image" width="1273" height="881" alt="Roboto site modal">
  </picture>
  <button class="btn btn-reset dialog__close" type="button">Close image</button>
</dialog>

<dialog id="robotoCards" class="dialog project-dialog-image" aria-label="Roboto site cards">
  <picture>
    <source srcset="img/roboto-offer.webp" type="image/webp">
    <img loading="lazy" src="img/roboto-offer.jpg" class="image" width="993" height="458" alt="Roboto site cards">
  </picture>
  <button class="btn btn-reset dialog__close" type="button">Close image</button>
</dialog>
