.dialog {
  display: none;
  background: transparent;
  margin: auto auto;
  padding: 5px;
  width: 100%;
  gap: var(--gap);

  opacity: 0;
  translate: 0 25vh;
  transition-property: display opacity;
  transition-duration: 1s;
  transition-behavior: allow-discrete;

  &[open] {
    display: block;
    opacity: 1;
    translate: 0 0;

    @starting-style {
      opacity: 0;
      translate: 0 -25vh;
    }
  }

  &::backdrop {
    backdrop-filter: blur(10px);
  }

  &__close {
    display: block;
    margin: 0 auto;
    margin-top: var(--gap);
    padding-block: 12px;
    padding-inline: 1em;
    background-color: var(--light-color);
    background-image: linear-gradient(
      45deg,
      var(--accent-color),
      var(--dark-color)
    );

    color: var(--light-color);
    text-align: center;
    font-family: var(--ff-second);
    font-weight: 500;
    font-size: var(--fz-subtitle-small);
    transition: background-color 0.2s, color 0.2s;

    @include hover {
      background-color: var(--light-color-weak);
      color: var(--light-color-weak);
    }
  }

  .image {
    margin: 0 auto;
  }
}
