.hero, .hero-ru {
  min-height: 650px;
  height: calc(100vh - 100px);

  display: grid;
  place-items: center;
  overflow-y: visible;

  background-color: var(--bg-color-hero);

  background-image: image-set(
    "../img/hero_bg.webp"type("image/webp"),
    "../img/hero_bg.png"type("image/jpg")
    );
  background-position: center 37%;
  background-repeat: no-repeat;

  clip-path: url(#heroWave);

  filter: drop-shadow(0px -10px -15px var(--text-color-primary));

  color: var(--text-color-primary);
  position: relative;


  &__container {
    display: grid;
    place-items: center;
    text-align: center;
    transform: translateY(-30%);
  }

  &__title {
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: var(--fz-title);
    line-height: 1.4;

    &-greeting {
      display: block;
    }
  }

  &__accent {
    color: var(--hero-color-accent);
  }

  &__subtitle {
    font-weight: 700;
    font-size: var(--fz-subtitle-big);
  }

  &__text {
    margin-bottom: rem(40);
    font-weight: 500;
    font-size: var(--fz-text);
    line-height: 1.4;
  }

  &__btn {
    --shadow-color: var(--accent-color);

    position: relative;
    overflow: hidden;
    padding-left: 2em;
    padding-right: 1.25em;
    padding-block: 1rem;

    color: var(--light-color-weak);
    font-weight: 500;
    background: linear-gradient(
      145deg,
      var(--accent-color),
      var(--accent-color-dark) 10%,
      var(--accent-color) 50% 60%,
      var(--accent-color-dark) 90%,
    );
    background-size: 180%;
    background-position: right;

    box-shadow:
      4px 4px 6px 0px var(--accent-color-light) inset,
      -4px -4px 8px 0px var(--accent-color-transparent) inset,
      -2px -2px 3px 0px var(--dark-color) inset
    ;

    clip-path: url(#heroBtn);

    transition:
      background-position 400ms ease-in-out,
      color 300ms ease-in-out
    ;

    &::after {
      position: absolute;
      content: "";
      width: 0;
      height: 100%;
      top: 0;
      left: 0;
      direction: rtl;
      background-color: rgba(0,0,0,0.1);
      z-index: 1000;
      box-shadow:
        -7px -7px 20px 0px var(--light-color-dark),
        -4px -4px 5px 0px var(--light-color-dark),
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
      transition: all 0.3s ease;
    }

    @include hover {
      background-position: left;
      color: var(--light-color);

      &::after {
        left: auto;
        right: 0;
        width: 100%;
      }

      & ~ .hero__btn--tip {
        &::after {
          left: auto;
          right: 0;
          width: 100%;
        }
      }
    }

    &--container {
      padding-top: 10px;
      position: relative;
    }

    &--tip {
      width: 70px;
      height: 20px;
      padding-left: 1.4em;
      padding-top: 2px;

      display: flex;
      align-items: start;

      background-color: var(--accent-color-transparent);
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      box-shadow:
        inset 0 2px 10px var(--light-color-weak),
        inset 1px -3px 5px var(--accent-color-dark)
      ;

      font-family: sans-serif;
      font-size: var(--fz-text-xs);
      font-weight: 500;
      letter-spacing: 0.09em;
      user-select: none;

      position: absolute;
      top: 0;
      left: 0;

      clip-path: path("M0 0 L70 0 A14 12 0 0 0 55 8 L55 12 A5 8 0 0 1 50 20 L0 20 L0 0 z");

      @media (max-width: 768px) {
        width: 60px;

        clip-path: path("M0 0 L60 0 A14 12 0 0 0 49 8 L49 14 A8 7 0 0 1 40 20 L0 20 L0 0 z");
      }

      &::after {
        position: absolute;
        content: "";
        width: 0;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.1);
        z-index: 1000;
        box-shadow:
          -7px -7px 20px 0px var(--accent-color-light);
        transition: all 0.4s ease-in;
      }
    }
  }
}

.hero-ru {
  display: none;
}

[lang="ru"] {
  .hero-ru {
    display: grid;
  }

  .hero {
    display: none;
  }
}
