.main {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 100%;
    height: var(--header-height);
    background-color: var(--bg-color);
  }
}
