<section class="about section-padding" id="about">
  <h2 class="skills__title section__title fly-in">About Me</h2>

  <div class="container about__container">

    <div class="about__description fade-in">
      <p>
        Hello! I'm Eugene, a frontend web developer with a year and a half of commercial experience. My journey in web development has been both exciting and challenging, allowing me to grow and hone my skills in various technologies and frameworks.
      </p>

      <p>Here it is my work experience:</p>
    </div>

    <div class="about__experience">
      <h3 class="about__experience_title fade-in">
        'Joki-Joya' - family amusement parks with well-developed IT infrastructure:
      </h3>

      <ul class="about__achievements fade-in">
        <li>
          Tech stack: Nuxt JS 3, Vue JS 3, Pinia, Gsap, SCSS modules
        </li>
        <li>
          Built the most of the website with engaging design and complex logic, creating over 10 new pages from scratch and updating existing ones with new design and features while maintaining existing functionality.
        </li>
        <li>
          Significantly optimized page load speed, increasing Lighthouse and Core Web Vitals scores from a poor 20/45 points on mobile/desktop versions to strong 90+/55.
        </li>
        <li>
          Comprehensive code refactoring by leveraging modern Nuxt and Vue features, code splitting and maintainability improving.
        </li>
      </ul>
    </div>

    <div class="about__experience">
      <h3 class="about__experience_title fade-in">
        'Sigma' - enterprise with government holdings consumers, huge billing product like "1C":
      </h3>

      <ul class="about__achievements fade-in">
        <li>
          Tech stack: ExtJS, Javascript, SCSS, git
        </li>
        <li>
          Developed and maintained complex web applications using ExtJS, focusing on enterprise-level solutions.
        </li>
        <li>
          Applied heavy practice of Object-Oriented Programming (OOP) principles to ensure scalable and maintainable code.
        </li>
         <li>
          Extensive debugging and code improving within a really vast enterprise codebase, identifying and resolving critical issues efficiently.
        </li>
         <li>
          Engaged in intense cross-level communication to collaboratively solve issues and enhance overall project outcomes.
        </li>
        <li>
          Implemented project-level style improvements, injecting up-to-date technologies, ensuring a consistent and polished user interface across the application.
        </li>
         <li>
          Organized and optimized stylesheets, improving maintainability and reducing load times, resulting in a smoother user experience.
        </li>
         <li>
          Contributed to improving website performance by optimizing code and assets, resulting in a smoother user experience.
        </li>
      </ul>
    </div>

    <div class="about__experience">
      <h3 class="about__experience_title fade-in">International Dating App Startup</h3>

      <ul class="about__achievements fade-in">
        <li>
          Led the development of the entire front-end base for an international dating app focused on love and business connections.
        </li>
        <li>
          Utilized vanilla JavaScript to build a robust and performant user interface. No frameworks used, so it was an intense usage of different web-API's
        </li>
        <li>
          Implemented real-time communication features using WebSockets for instant messaging and notifications.
        </li>
        <li>
          Integrated REST APIs to handle data fetching and user interactions seamlessly.
        </li>
        <li>
          Designed and styled the application using SCSS and Bootstrap, ensuring a responsive and visually appealing design.
        </li>
        <li>
          Optimized the build process and improved development workflow using Gulp, enhancing efficiency and productivity.
        </li>
        <li>
          Collaborated closely with the backend team to ensure smooth integration and optimal performance.
        </li>
      </ul>
    </div>
  </div>
</section>
