<section class="about section-padding" id="about">
  <h2 class="skills__title section__title fly-in">About Me</h2>

  <div class="container about__container">

    <div class="about__description fade-in">
      <p>
        Hello! I'm Eugene, a frontend web developer with a year and a half of commercial experience. My journey in web development has been both exciting and challenging, allowing me to grow and hone my skills in various technologies and frameworks.
      </p>

      <p>Here it is my work experience:</p>
    </div>

    <div class="about__experience">
      <h3 class="about__experience_title fade-in">
        'Joki-Joya' - family amusement parks with well-developed IT infrastructure:
      </h3>

      <ul class="about__achievements fade-in">
        <li>
          Tech stack: TypeScript, Nuxt JS 3, Vue JS 3, Pinia, Gsap, SCSS modules
        </li>
        <li>
          Complete website redesign and scaling: developed 10+ interactive pages with dynamic content and complex UI/business logic (booking/payment systems); modernized existing sections: implemented updated design and new features while maintaining full backward compatibility.
        </li>
        <li>
          Significantly optimized page load speed, increasing Lighthouse and Core Web Vitals scores from a poor 20/45 points on mobile/desktop versions to strong 90+/55. Implemented: resource compression, lazy loading, advanced caching strategies, code splitting.
        </li>
        <li>
          Comprehensive code refactoring leveraging modern Nuxt and Vue features: code splitting for efficient resource loading, enhanced code readability and maintainability, optimized project structure for scalability.
        </li>
      </ul>
    </div>

    <div class="about__experience">
      <h3 class="about__experience_title fade-in">
        'Sigma' - enterprise with government holdings consumers, huge billing product like "1C":
      </h3>

      <ul class="about__achievements fade-in">
        <li>
          Tech stack: ExtJS, Javascript, SCSS, git
        </li>
        <li>
          Developed and maintained complex web applications using ExtJS, focusing on enterprise-level solutions.
        </li>
        <li>
          Applied heavy practice of Object-Oriented Programming (OOP) principles to ensure scalable and maintainable code.
        </li>
         <li>
          Extensive debugging and code improving within a really vast enterprise codebase, identifying and resolving critical issues efficiently.
        </li>
        <li>
          Implemented project-level style improvements, injecting up-to-date technologies, ensuring a consistent and polished user interface across the application.
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="about-ru section-padding" id="about-ru">
  <h2 class="skills__title section__title fly-in">Обо мне</h2>

  <div class="container about__container">

    <div class="about__description fade-in">
      <p>
        Привет! Меня зовут Евгений, я фронтенд-разработчик с полутора годами коммерческого опыта. Мой путь в веб-разработке был одновременно увлекательным и сложным, что позволило мне расти и оттачивать свои навыки в различных технологиях и фреймворках.
      </p>

      <p>Мой опыт работы:</p>
    </div>

    <div class="about__experience">
      <h3 class="about__experience_title fade-in">
        'Joki-Joya' - Семейные парки развлечений с развитой IT-инфраструктурой:
      </h3>

      <ul class="about__achievements fade-in">
        <li>
          Стек: TypeScript, Nuxt JS 3, Vue JS 3, Pinia, Gsap, SCSS модули
        </li>
        <li>
          Полный редизайн и масштабирование веб-сайта: разработка интерактивных страниц (10+) с динамическим контентом и сложной логикой взаимодействий и бизнес-логикой (форм бронирования/оплаты); модернизация существующих разделов - обновилённый дизайн и новый функционал с сохранением работоспособности.
        </li>
        <li>
          Значительно оптимизировал скорость загрузки страниц, улучшил показатели Lighthouse и Core Web Vitals со скромных 20/45 пунктов (мобильная/десктопная версии) до 90+/55. Методы: сжатие ресурсов, ленивая загрузка, кэширование, code splitting.
        </li>
        <li>
          Провел комплексный рефакторинг кода, используя современные возможности Nuxt и Vue: внедрил code splitting для эффективной загрузки ресурсов, улучшил читаемость и поддерживаемость кода, оптимизировал структуру проекта для масштабируемости.
        </li>
      </ul>
    </div>

    <div class="about__experience">
      <h3 class="about__experience_title fade-in">
        'Sigma' - корпоративные решения для госсектора, разработка высоконагруженных биллинг-продуктов уровня "1С":
      </h3>

      <ul class="about__achievements fade-in">
        <li>
          Стек: ExtJS, Javascript, SCSS, git
        </li>
        <li>
          Разрабатывал и поддерживал сложные веб-приложения на ExtJS с огромным количеством легаси-кода.
        </li>
        <li>
          Реализовывал сложные решения, основанные на ООП, построение иерархий классов для бизнес-логики, рефакторинг legacy-кода.
        </li>
         <li>
          Глубокая отладка и оптимизация кода в рамках крупномасштабной enterprise-кодовой базы, работа с кодом возрастом 10+ лет, удаление неиспользуемого и дублирующегося кода, написание документации.
        </li>
        <li>
          Провел глобальный рефакторинг стилей: модернизация UI/UX на уровне всего продукта, внедрение актуальных технологий CSS, создание библиотеки UI-компонентов и SCSS-миксинов.
        </li>
      </ul>
    </div>
  </div>
</section>
