<section class="contacts section-padding" id="contacts">
  <div class="container">

    <h2 class="section__title fly-in">Contacts</h2>

     <div class="contacts__content">

      <div class="contacts__location">
        <h3 class="contacts__subtitle subtitle-medium">Location:</h3>
        <p class="contacts__info">Saint-Petersburg, Russia</p>
      </div>

      <div class="contacts__phone">
        <h3 class="contacts__subtitle subtitle-medium">Telegram:</h3>
        <div class="contacts__info">
          <p>@eugene_zinin</p>
        </div>
      </div>

      <div class="contacts__email ">
        <h3 class="contacts__subtitle subtitle-medium">Email:</h3>
        <div class="contacts__info">
          <a href="mailto:eugenezinin@gmail.com">eugenezinin@gmail.com</a>
        </div>
      </div>

     </div>

  </div>
</section>

<section class="contacts-ru section-padding" id="contacts-ru">
  <div class="container">

    <h2 class="section__title fly-in">Контакты</h2>

     <div class="contacts__content">

      <div class="contacts__location">
        <h3 class="contacts__subtitle subtitle-medium">Город:</h3>
        <p class="contacts__info">Санкт-Петербург, Россия</p>
      </div>

      <div class="contacts__phone">
        <h3 class="contacts__subtitle subtitle-medium">Телеграм:</h3>
        <div class="contacts__info">
          <p>@eugene_zinin</p>
        </div>
      </div>

      <div class="contacts__email ">
        <h3 class="contacts__subtitle subtitle-medium">Email:</h3>
        <div class="contacts__info">
          <a href="mailto:eugenezinin@gmail.com">eugenezinin@gmail.com</a>
        </div>
      </div>

     </div>

  </div>
</section>
