<section class="contacts section-padding" id="contacts">
  <div class="container">

    <h2 class="section__title">Contacts</h2>

     <div class="contacts__content">

      <div class="contacts__location">
        <h3 class="contacts__subtitle subtitle">Location:</h3>
        <div class="contacts__info">Saint-Petersburg, Russia</div>
      </div>

      <div class="contacts__phone">
        <h3 class="contacts__subtitle subtitle">Telegram / WhatsApp:</h3>
        <div class="contacts__info">
          <a href="tel:+79817126579">+7(981)712-65-79</a>
        </div>
      </div>

      <div class="contacts__email ">
        <h3 class="contacts__subtitle subtitle">Email:</h3>
        <div class="contacts__info">
          <a href="mailto:eugenezinin@gmail.com">eugenezinin@gmail.com</a>
        </div>
      </div>

     </div>

  </div>
</section>
