<footer class="footer">
  <div class="container">

      <ul class="footer__social social">
        <li class="social__item">
          <a href="https://vk.com/eugenezinin" class="social__link" aria-label="vk profile link">
            <svg class="social__image">
              <use xlink:href="img/sprite.svg#vk"></use>
            </svg>
          </a>
        </li>

        <li class="social__item">
          <a href="https://github.com/DarthEvgenius" class="social__link" aria-label="github profile link">
            <svg class="social__image">
              <use xlink:href="img/sprite.svg#git"></use>
            </svg>
          </a>
        </li>
      </ul>

      <p class="footer__copy">
        © 2025 Eugene Zinin
      </p>

  </div>
</footer>
