<header class="header">
  <div class="progress-bar"></div>
  <div class="container header__container">

    <div class="logo">
      <a href="#" class="logo__image">
        <img loading="lazy" src="./img/logo.svg" class="image" width="48" height="48" alt="Логотип инициалы">
      </a>
      <p class="logo__text">
        <strong class="logo__text--bold">Eugene Zinin</strong>
        <span class="logo__text--regular">portfolio</span>
      </p>
    </div>

    @include('nav.html')
    @include('theme-button.html')
    @include('lang-button.html')

  </div>
</header>
