<section class="hero">
  <div class="container hero__container">

    <h1 class="hero__title">
      <p>Hello!</p>
       I'm <span class="hero__accent">Eugene</span>
      <p class="hero__subtitle"></p>
    </h1>

    <p class="hero__text">
      a frontend developer from St-Petersburg.
    </p>

    <a href="./Eugene_Zinin.pdf" download class="hero__btn btn">Download CV</a>
  </div>
</section>

<section class="hero-ru">
  <div class="container hero-ru__container">

    <h1 class="hero-ru__title">
      <p>Привет!</p>
       Я <span class="hero-ru__accent">Евгений</span>
      <p class="hero-ru__subtitle"></p>
    </h1>

    <p class="hero-ru__text">
      frontend разработчик из Санкт-Петербурга.
    </p>

    <a href="./Eugene_Zinin.pdf" download class="hero-ru__btn btn">Download CV</a>
  </div>
</section>
