<div class="language">
  <button
    class="language__selected selected-language-en"
  >
    <img
      src="./img/en.svg"
      alt="en"
    >
  </button>

  <button
    class="language__selected selected-language-ru"
  >
    <img
      src="./img/ru.svg"
      alt="ru"
    >
  </button>

  <div
    class="language__select"
  >

    <ul class="language__select-wrapper">
      <li class="language__select-option">
        <button
          class="language__select-option--btn"
          data-lang="en"
        >
          <img src="./img/en.svg" alt="english">
        </button>
      </li>
      <li class="language__select-option">
        <button
          class="language__select-option--btn"
          data-lang="ru"
        >
          <img src="./img/ru.svg" alt="русский">
        </button>
      </li>
    </ul>
  </div>
</div>
