<nav class="nav" data-menu>
  <ul class="nav__list">
    <li class="nav__item">
      <a href="#about" class="nav__link" data-menu-item>About Me</a>
    </li>

    <li class="nav__item">
      <a href="#projects" class="nav__link" data-menu-item>Projects</a>
    </li>

    <li class="nav__item">
      <a href="#skills" class="nav__link" data-menu-item>Skills</a>
    </li>

    <li class="nav__item">
      <a href="#contacts" class="nav__link" data-menu-item>Contacts</a>
    </li>
  </ul>
</nav>

<nav class="nav-ru" data-menu>
  <ul class="nav__list">
    <li class="nav__item">
      <a href="#about" class="nav__link" data-menu-item>Обо мне</a>
    </li>

    <li class="nav__item">
      <a href="#projects" class="nav__link" data-menu-item>Проекты</a>
    </li>

    <li class="nav__item">
      <a href="#skills" class="nav__link" data-menu-item>Скиллы</a>
    </li>

    <li class="nav__item">
      <a href="#contacts" class="nav__link" data-menu-item>Контакты</a>
    </li>
  </ul>
</nav>

<button class="btn-reset burger" aria-label="Open menu" aria-expanded="false" data-burger>
  <span class="burger__line"></span>
</button>
