<section class="projects section-padding" id="projects">
  <div class="container">

    <h2 class="projects__title section__title fly-in">My Projects</h2>

    <ul class="projects__gallery">

      <li class="projects__project fade-in" data-graph-path="this_project" aria-label="View this portfolio project details">

        <div class="projects__image">
          <picture class="projects__picture">
            <source srcset="./img/portfolio-cover.webp" type="image/webp">
            <img loading="lazy" src="./img/portfolio-cover.jpg" class="projects__cover image" width="320" height="320" alt="This portfolio site">
          </picture>
        </div>

        <h4 class="projects__name card__title">this.portfolio</h4>
        <div class="projects__description">
          <p>This portfolio site!</p>
          <p>Stack:</p>
          <ul>
            <li>HTML</li>
            <li>SCSS</li>
            <li>JavaScript</li>
            <li>Gulp</li>
          </ul>
        </div>
      </li>

      <li class="projects__project fade-in">
        <div class="projects__image">
          <picture class="projects__picture">
            <source srcset="./img/dating-cover.webp" type="image/webp">
            <img loading="lazy" src="./img/dating-cover.jpg" class="projects__cover image" width="320" height="320" alt="Dating App Project">
          </picture>
        </div>
        <h4 class="projects__name card__title">Dating App</h4>
        <p class="projects__description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio adipisci
        </p>
      </li>

      <li class="projects__project fade-in" data-graph-path="roboto_project" aria-label="View roboto project details">

        <div class="projects__image">
          <picture class="projects__picture">
            <source srcset="./img/roboto-cover.webp" type="image/webp">
            <img loading="lazy" src="./img/roboto-cover.jpg" class="projects__cover image" width="320" height="320" alt="Roboto school site">
          </picture>
        </div>

        <h4 class="projects__name card__title">School site</h4>
        <div class="projects__description">
          <p>Single page school site with various functionality.</p>
          <p>Stack:</p>
          <ul>
            <li>HTML</li>
            <li>SCSS</li>
            <li>Javascript</li>
            <li>Gulp</li>
          </ul>
        </div>
      </li>

      <li class="projects__project fade-in">
        <div class="projects__image">
          <picture class="projects__picture">
            <source srcset="./img/pairs.webp" type="image/webp">
            <img loading="lazy" src="./img/pairs.jpg" class="projects__cover image" width="320" height="320" alt="Pairs Memory Game">
          </picture>
        </div>
        <h4 class="projects__name card__title">Pairs Memory Game</h4>
      </li>

      <li class="projects__project fade-in">
        <div class="projects__image">
          <picture class="projects__picture">
            <source srcset="./img/crab.webp" type="image/webp">
            <img loading="lazy" src="./img/crab.jpg" class="projects__cover image" width="320" height="320" alt="Crabs Shop Site">
          </picture>
        </div>
        <h4 class="projects__name card__title">Crabs Shop Site</h4>
      </li>

      <li class="projects__project fade-in">
        <div class="projects__image">
          <picture class="projects__picture">
            <source srcset="./img/project-6.webp" type="image/webp">
            <img loading="lazy" src="./img/project-6.jpg" class="projects__cover image" width="320" height="320" alt="">
          </picture>
        </div>
        <h4 class="projects__name card__title">Project with some really long name Project</h4>
      </li>

    </ul>
  </div>

</section>
