<section class="projects section-padding">
  <div class="container">

    <h2 class="projects__title section__title">Projects</h2>

    <ul class="projects__gallery">

      <li class="projects__project">
        <div class="projects__image">
          <picture>
            <source srcset="./img/project-1.webp" type="image/webp">
            <img loading="lazy" src="./img/project-1.jpg" class="image" width="" height="" alt="">
          </picture>
        </div>
        <h4 class="projects__name card__title">Project 1</h4>
      </li>

      <li class="projects__project">
        <div class="projects__image">
          <picture>
            <source srcset="./img/project-2.webp" type="image/webp">
            <img loading="lazy" src="./img/project-2.jpg" class="image" width="" height="" alt="">
          </picture>
        </div>
        <h4 class="projects__name card__title">Project 2</h4>
        <div class="projects__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio adipisci veritatis sequi minima eveniet alias excepturi inventore illo quaerat laudantium.</div>
      </li>

      <li class="projects__project">
        <div class="projects__image">
          <picture>
            <source srcset="./img/project-3.webp" type="image/webp">
            <img loading="lazy" src="./img/project-3.jpg" class="image" width="" height="" alt="">
          </picture>
        </div>
        <h4 class="projects__name card__title">Project Project 3</h4>
      </li>

      <li class="projects__project">
        <div class="projects__image">
          <picture>
            <source srcset="./img/project-4.webp" type="image/webp">
            <img loading="lazy" src="./img/project-4.jpg" class="image" width="" height="" alt="">
          </picture>
        </div>
        <h4 class="projects__name card__title">Project 4</h4>
      </li>

      <li class="projects__project">
        <div class="projects__image">
          <picture>
            <source srcset="./img/project-5.webp" type="image/webp">
            <img loading="lazy" src="./img/project-5.jpg" class="image" width="" height="" alt="">
          </picture>
        </div>
        <h4 class="projects__name card__title">Project with some really long name Project Project 5</h4>
      </li>

      <li class="projects__project">
        <div class="projects__image">
          <picture>
            <source srcset="./img/project-6.webp" type="image/webp">
            <img loading="lazy" src="./img/project-6.jpg" class="image" width="" height="" alt="">
          </picture>
        </div>
        <h4 class="projects__name card__title">Project 6</h4>
      </li>

    </ul>
  </div>
</section>
