<section class="projects section-padding" id="projects">
  <div class="container">

    <h2 class="projects__title section__title fly-in">My Projects</h2>

    <ul class="projects__gallery">

      <li
        class="projects__project fade-in"
        data-graph-path="jj_project"
        aria-label="View Joki Joya project details"
      >
        <div class="projects__image">
          <picture class="projects__picture">
            <source srcset="./img/jj.webp" type="image/webp">
            <img loading="lazy" src="./img/jj.webp" class="projects__cover image" width="320" height="320" alt="Joki Joya site">
          </picture>
        </div>
        <h3 class="projects__name card__title">Joki Joya site</h3>
      </li>

      <li
        class="projects__project fade-in"
        data-graph-path="roboto_project"
        aria-label="View roboto project details"
      >
        <div class="projects__image">
          <picture class="projects__picture">
            <source srcset="./img/roboto-cover.webp" type="image/webp">
            <img loading="lazy" src="./img/roboto-cover.jpg" class="projects__cover image" width="320" height="320" alt="Roboto school site">
          </picture>
        </div>
        <h3 class="projects__name card__title">School site</h3>
      </li>

      <li
        class="projects__project fade-in"
        data-graph-path="dating-app_project"
        aria-label="View dating app project details">

        <div class="projects__image">
          <picture class="projects__picture">
            <source srcset="./img/dating-cover.webp" type="image/webp">
            <img loading="lazy" src="./img/dating-cover.png" class="projects__cover image" width="320" height="320" alt="Dating App StartUp Project">
          </picture>
        </div>
        <h3 class="projects__name card__title">Dating App StartUp</h3>
      </li>

      <li
        class="projects__project fade-in"
        data-graph-path="this_project"
        aria-label="View this portfolio project details">

        <div class="projects__image">
          <picture class="projects__picture">
            <source srcset="./img/portfolio-cover.webp" type="image/webp">
            <img loading="lazy" src="./img/portfolio-cover.jpg" class="projects__cover image" width="320" height="320" alt="This portfolio site">
          </picture>
        </div>

        <h3 class="projects__name card__title">this.portfolio</h3>
      </li>

      <li
        class="projects__project fade-in"
        data-graph-path="assembley-game"
        aria-label="View assembley game project details">
        <div class="projects__image">
          <picture class="projects__picture">
            <source srcset="./img/assembley.webp" type="image/webp">
            <img loading="lazy" src="./img/assembley.png" class="projects__cover image" width="320" height="320" alt="Assembley endgame">
          </picture>
        </div>
        <h3 class="projects__name card__title">Assembley endgame</h3>
      </li>

      <li
        class="projects__project fade-in"
        data-graph-path="pairs-game"
        aria-label="View pairs memory game project details">

        <div class="projects__image">
          <picture class="projects__picture">
            <source srcset="./img/pairs.webp" type="image/webp">
            <img loading="lazy" src="./img/pairs.jpg" class="projects__cover image" width="320" height="320" alt="Pairs Memory Game">
          </picture>
        </div>
        <h3 class="projects__name card__title">Pairs Memory Game</h3>
      </li>

    </ul>
  </div>
</section>

<section class="projects-ru section-padding" id="projects-ru">
  <div class="container">

    <h2 class="projects__title section__title fly-in">Мои проекты</h2>

    <ul class="projects__gallery">

      <li
        class="projects__project fade-in"
        data-graph-path="jj_project"
        aria-label="View Joki Joya project details"
      >
        <div class="projects__image">
          <picture class="projects__picture">
            <source srcset="./img/jj.webp" type="image/webp">
            <img loading="lazy" src="./img/jj.webp" class="projects__cover image" width="320" height="320" alt="Joki Joya сайт">
          </picture>
        </div>
        <h3 class="projects__name card__title">Сайт парков развлечений Joki Joya</h3>
      </li>

      <li
        class="projects__project fade-in"
        data-graph-path="roboto_project"
        aria-label="View roboto project details"
      >
        <div class="projects__image">
          <picture class="projects__picture">
            <source srcset="./img/roboto-cover.webp" type="image/webp">
            <img loading="lazy" src="./img/roboto-cover.jpg" class="projects__cover image" width="320" height="320" alt="Сайт школы робототехники">
          </picture>
        </div>
        <h3 class="projects__name card__title">Сайт школы робототехники</h3>
      </li>

      <li
        class="projects__project fade-in"
        data-graph-path="dating-app_project"
        aria-label="View dating app project details">

        <div class="projects__image">
          <picture class="projects__picture">
            <source srcset="./img/dating-cover.webp" type="image/webp">
            <img loading="lazy" src="./img/dating-cover.png" class="projects__cover image" width="320" height="320" alt="Стартап Приложение знакомств">
          </picture>
        </div>
        <h3 class="projects__name card__title">Стартап Приложение знакомств</h3>
      </li>

      <li
        class="projects__project fade-in"
        data-graph-path="this_project"
        aria-label="View this portfolio project details">

        <div class="projects__image">
          <picture class="projects__picture">
            <source srcset="./img/portfolio-cover.webp" type="image/webp">
            <img loading="lazy" src="./img/portfolio-cover.jpg" class="projects__cover image" width="320" height="320" alt="This portfolio site">
          </picture>
        </div>

        <h3 class="projects__name card__title">this.portfolio</h3>
      </li>

      <li
        class="projects__project fade-in"
        data-graph-path="assembley-game"
        aria-label="View assembley game project details">
        <div class="projects__image">
          <picture class="projects__picture">
            <source srcset="./img/assembley.webp" type="image/webp">
            <img loading="lazy" src="./img/assembley.png" class="projects__cover image" width="320" height="320" alt="Игра Ассемблер Навсегда">
          </picture>
        </div>
        <h3 class="projects__name card__title">Игра Ассемблер Навсегда</h3>
      </li>

      <li
        class="projects__project fade-in"
        data-graph-path="pairs-game"
        aria-label="View pairs memory game project details">

        <div class="projects__image">
          <picture class="projects__picture">
            <source srcset="./img/pairs.webp" type="image/webp">
            <img loading="lazy" src="./img/pairs.jpg" class="projects__cover image" width="320" height="320" alt="Игра угадай пару">
          </picture>
        </div>
        <h3 class="projects__name card__title">Игра Угадай Пару</h3>
      </li>

    </ul>
  </div>
</section>

