<div class="graph-modal">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="roboto_project">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Close project details"></button>
    <div class="graph-modal__content project-modal project-roboto">

      <div class="project-modal__details">
        <h4 class="projects__name card__title project-modal__title">School site</h4>

        <ul class="project-modal__details-list">
          <li class="project-modal__details-item">
            <a href="https://darthevgenius.github.io/school_site/" class="project-modal__details-link link">Live demo</a>
          </li>

          <li class="project-modal__details-item">
            <a href="https://github.com/DarthEvgenius/school_site?tab=readme-ov-file" class="project-modal__details-link link">Github page</a>
          </li>
        </ul>

        <p class="project-modal__details-description">
          Business-card site of programming and robotics school. Made after a figma design using vanilla Javascript, HTML, SCSS and Gulp toolkit with various modules.
        </p>
      </div>

      <ul class="project-modal__features-list">
        <p class="project-modal__features-title">Some features:</p>

        <li class="project-modal__features-item">
          <p class="project-modal__features-description">
            Nice and simple hero section and adaptive menu, with smooth scrolling to the anchor tags on the page, transforming to burger-menu on small screen sizes and disabling hover effects.
          </p>

          <div class="project-modal__features-image projects__image">
            <picture class="projects__picture">
              <source srcset="img/roboto-hero.webp" type="image/webp">
              <img loading="lazy" src="img/roboto-hero.jpg" class="image" width="800" height="600" alt="School site hero section">
            </picture>
          </div>

          <div class="project-modal__features-image projects__image">
            <picture class="projects__picture">
              <source srcset="img/roboto-burger.webp" type="image/webp">
              <img loading="lazy" src="img/roboto-burger.jpg" class="image" width="325" height="350" alt="School site hero section">
            </picture>
          </div>

          <div class="project-modal__features-image projects__image">
            <picture class="projects__picture">
              <source srcset="img/roboto-mobile.webp" type="image/webp">
              <img loading="lazy" src="img/roboto-mobile.jpg" class="image" width="325" height="350" alt="School site mobile adaptive">
            </picture>
          </div>
        </li>

        <li class="project-modal__features-item">
          <p class="project-modal__features-description">
            Integrated usefull JS libraries: <a href="https://swiperjs.com/" class="link">Swiper.js</a> <a href="https://floating-ui.com/?utm_source=popper.js.org" class="link">Popper.js</a>
          </p>

          <div class="project-modal__features-image projects__image">
            <picture>
              <source srcset="img/roboto-swiper.webp" type="image/webp">
              <img loading="lazy" src="img/roboto-swiper.jpg" class="image" width="" height="" alt="">
            </picture>
          </div>

          <div class="project-modal__features-image projects__image">
            <picture>
              <source srcset="img/roboto-popup.webp" type="image/webp">
              <img loading="lazy" src="img/roboto-popup.jpg" class="image" width="" height="" alt="">
            </picture>
          </div>
        </li>

        <li class="project-modal__features-item">
          <p class="project-modal__features-description">
            Modals and shifting tabs inside modals. Also with custom scrollbar:
          </p>

          <div class="project-modal__features-image projects__image">
            <picture>
              <source srcset="img/roboto-modal.webp" type="image/webp">
              <img loading="lazy" src="img/roboto-modal.jpg" class="image" width="" height="" alt="">
            </picture>
          </div>
        </li>

        <li class="project-modal__features-item">
          <p class="project-modal__features-description">
            And nice product cards with hover transition and transform effects
          </p>

          <div class="project-modal__features-image projects__image">
            <picture>
              <source srcset="img/roboto-offer.webp" type="image/webp">
              <img loading="lazy" src="img/roboto-offer.jpg" class="image" width="" height="" alt="">
            </picture>
          </div>
        </li>

      </ul>

    </div>
  </div>
</div>
