<div
  class="graph-modal__container"
  role="dialog"
  aria-modal="true"
  data-graph-target="assembley-game"
>

  <button class="btn-reset js-modal-close graph-modal__close" aria-label="Close project details"></button>

  <div class="graph-modal__content project-modal project-pairs">
    <div class="project-modal__details">
      <div class="projects-dialog-en">
        <h4 class="projects__name card__title project-modal__title">Assembley EndGame</h4>

        <ul class="project-modal__details-list">
          <li class="project-modal__details-item">
            <a href="https://assembley-endgame.vercel.app/" class="project-modal__details-link link">Live demo</a>
          </li>

          <li class="project-modal__details-item">
            <a href="https://github.com/DarthEvgenius/assembley_endgame" class="project-modal__details-link link">Github page</a>
          </li>
        </ul>

        <p class="project-modal__details-description">
          A guess-word game on React, in which you have to reveal a secret word in 8 attempts, or all programming languages will go away. Except Assembley...
        </p>
        <p>It's a fun!</p>
      </div>

      <div class="projects-dialog-ru">
        <h4 class="projects__name card__title project-modal__title">Игра Ассемблер Навсегда</h4>

        <ul class="project-modal__details-list">
          <li class="project-modal__details-item">
            <a href="https://assembley-endgame.vercel.app/" class="project-modal__details-link link">Демо</a>
          </li>

          <li class="project-modal__details-item">
            <a href="https://github.com/DarthEvgenius/assembley_endgame" class="project-modal__details-link link">Github</a>
          </li>
        </ul>

        <p class="project-modal__details-description">
          Игра на угадывание слова на React, в которой нужно разгадать секретное слово за 8 попыток, иначе все языки программирования исчезнут. Кроме Ассемблера...
        </p>
        <p>Угадай слово!</p>
      </div>
    </div>


  </div>
</div>
