<div
  class="graph-modal__container projects-dialog"
  role="dialog"
  aria-modal="true"
  data-graph-target="jj_project"
>

  <button class="btn-reset js-modal-close graph-modal__close" aria-label="Close project details"></button>

  <div class="graph-modal__content project-modal project-portfolio">

    @include('./dialog-images/portfolio-images.html')

    <div class="project-modal__details">
      <div class="projects-dialog-en">
        <h4 class="projects__name card__title project-modal__title">
          Joki Joya web site
        </h4>

        <ul class="project-modal__details-list">
          <li class="project-modal__details-item">
            <a href="https://joki-joya.ru/" class="project-modal__details-link link">
              https://joki-joya.ru/
            </a>
          </li>
        </ul>

        <p class="project-modal__details-description">
          Tech stack: Nuxt 3, Vue JS, Typescript, Pinia, Vue Router, Element Plus, SCSS
        </p>
        <p>Welcome!</p>
      </div>

      <div class="projects-dialog-ru">
        <h4 class="projects__name card__title project-modal__title">
          Сайт парков развлечений Joki Joya
        </h4>

        <ul class="project-modal__details-list">
          <li class="project-modal__details-item">
            <a href="https://joki-joya.ru/" class="project-modal__details-link link">
              https://joki-joya.ru/
            </a>
          </li>
        </ul>

        <p class="project-modal__details-description">
          Стек: Nuxt 3, Vue JS, Typescript, Pinia, Vue Router, Element Plus, SCSS
        </p>
        <p>Добро пожаловать!</p>
      </div>
    </div>

  </div>
</div>
