  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="jj_project">

    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Close project details"></button>

    <div class="graph-modal__content project-modal project-portfolio">

      @include('./dialog-images/portfolio-images.html')

      <div class="project-modal__details">
        <h4 class="projects__name card__title project-modal__title">Joki Joya web site</h4>

        <ul class="project-modal__details-list">
          <li class="project-modal__details-item">
            <a href="https://joki-joya.ru/" class="project-modal__details-link link">joki-joya.ru</a>
          </li>
        </ul>

        <p class="project-modal__details-description">
          Tech stack: Nuxt 3, Vue JS, Typescript, Pinia, Vue Router, Element Plus, SCSS
        </p>
        <p>Explore!</p>
      </div>

    </div>
  </div>
