// colors
:root {
  // base
  --font-family: "DMSans", sans-serif;
  --ff-second: "Poppins", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: hsl(238, 20%, 93%);
  --light-color-weak: hsl(238, 20%, 85%);
  --dark-color: hsl(240, 11%, 18%);
  --dark-color-weak: hsla(0, 0%, 45%, 0.7);
  --accent-color: hsl(238, 79%, 64%);
  --accent-color-dark: hsl(238, 79%, 55%);
  --accent-color-light: hsl(238, 79%, 75%);
  --accent-color-transparent: hsl(238, 79%, 64%, 0.3);
  --line-color: hsl(220, 7%, 16%);
  --shadow-color: rgba(0, 0, 0, 0.25);

  --text-color-primary: var(--light-color);
  --text-color-secondary: var(--light-color-weak);
  --bg-color: var(--dark-color);

  // font sizes
  --fz-title: clamp(2.75rem, 4vw + 1rem, 3.75rem); // 60px
  --fz-subtitle-big: 2.5rem; // 40px
  --fz-subtitle: 1.5rem; // 24px
  --fz-subtitle-small: 1.25rem; // 20px
  --fz-text: 1.125rem; // 18px
  --fz-text-xs: 0.8125rem; //13px

  // gap
  --gap: 1rem;
}

@media (max-width: 768px) {
  :root {
    --fz-title: clamp(2.25rem, 4vw + 1rem, 3.25rem);
    --fz-subtitle-big: 2rem;
    --fz-subtitle: 1.25rem;
    --fz-subtitle-small: 1.125rem;
    --fz-text: 1rem;
  }
}
